name: "42 Sync: Wiki"

on:
  push:
    paths:
      - 'wiki/**'
    branches: [main]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: read-all

jobs:
  sync:
    name: Sync to Wiki
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Sync docs to wiki
        uses: Andrew-Chen-Wang/github-wiki-action@6448478bd55f1f3f752c93af8ac03207eccc3213 # v5
        with:
          path: wiki/
          token: ${{ secrets.GITHUB_TOKEN }}
