name: "Sync: Wiki"

on:
  push:
    paths:
      - 'wiki/**'
    branches: [main]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  sync:
    name: Sync to Wiki
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4

      - name: Sync docs to wiki
        uses: Andrew-Chen-Wang/github-wiki-action@v5
        with:
          path: wiki/
          token: ${{ secrets.GITHUB_TOKEN }}
